<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/html_head :: head">
    <meta charset="UTF-8">
    <title th:text="#{login.label}"/>
</head>

<body>
<div class="container">
    <form th:action="@{/login}" method="post" class="login-form">
        <h1 th:text="#{login.label}"/>

        <div th:if="${param.logout}" class="alert alert-danger">
            <span th:text="#{login.loggedOut}"></span>
        </div>

        <div th:if="${param.error}" class="alert alert-danger">
            <span th:text="#{login.error}"></span>
        </div>

        <div class="form-group">
            <label for="username"></label>
            <input id="username" type="text" name="username" class="form-control" autofocus th:placeholder="#{user.placeholder}" alt="username"/>
        </div>

        <div class="form-group">
            <label for="password"></label>
            <input id="password" type="password" name="password" class="form-control" th:placeholder="#{password.placeholder}" alt="password"/>
        </div>

        <div class="mt-3">
            <button type="submit" class="btn btn-primary" th:text="#{login.label}"></button>
        </div>

    </form>
</div>
</body>
<div style="text-align:center" th:insert="fragments/footer :: footer"></div>
</html>