<!DOCTYPE html>
<html lang="en" layout:decorate="~{/layouts/layout}"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="https://github.com/ultraq/thymeleaf-layout-dialect">
<head>
    <meta charset="UTF-8">
    <title>Project details</title>
</head>
<body>

<div layout:fragment="content">
    <div class="container my-5">
        <h2 class="row">
            <div class="inner">
                <label th:text="#{project.details.title}"></label>
                <a class="btn btn-success btn-sm"
                   th:text="#{button.edit}"
                   th:href="@{edit/{id}(id=${project.id})}"
                   th:if="${#authorization.expression('hasRole(''ROLE_MANAGE_PROJECTS'')')}">
                </a>
            </div>
        </h2>
        <form action="#" th:action="@{/projects/save}" th:object="${project}" method="post">
            <input type="hidden" th:field="*{id}"/>
            <div class="row">
                <div class="col-md-9 col-sm-12">
                    <div class="form-group col-mb-3">
                        <label for="name" class="col-form-label" th:text="#{project.name}">Project name</label>
                        <input type="text" th:field="*{name}" class="form-control" id="name"
                               placeholder="Name" th:placeholder="#{project.name}" disabled>
                        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
                              class="text-danger"></span>
                    </div>
                    <div class="form-group col-mb-3">
                        <label for="description" class="col-form-label"
                               th:text="#{project.description}">Description</label>
                        <textarea type="text" rows="15" th:field="*{description}" class="form-control" id="description"
                                  placeholder="Description" th:placeholder="#{project.description}" disabled></textarea>
                        <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}"
                              class="text-danger"></span>
                    </div>
                    <div class="form-group col-mb-3" >
                        <label for="creator" th:text="#{project.creator}" style="float: left"></label>
                        <p th:field="*{creator}" th:value="${creator.getUsername()}" th:text="${creator.getUsername()}" id="creator" >Creator</p>
                    </div>
                </div>
            </div>
            <div class="inner pull-right">
                <a th:href="@{/projects/delete/{id}(id=${project.id})}" class="btn btn-danger"
                   th:text="#{button.delete}"
                   th:if="${#authorization.expression('hasRole(''ROLE_MANAGE_PROJECTS'')')}">
                </a>
                <a class="btn btn-secondary"
                   style="float: right"
                   th:href="@{/projects}"
                   th:text="#{button.back}"></a>
            </div>
        </form>
    </div>
</div>
</body>
</html>