<!DOCTYPE html>
<html lang="en" layout:decorate="~{/layouts/layout}"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="https://github.com/ultraq/thymeleaf-layout-dialect">

<head>
    <meta charset="UTF-8">
    <title>Project details</title>
</head>

<div layout:fragment="content">
    <div class="container mb-2">
        <form action="#" th:action="@{/projects/save}" th:object="${project}" method="post">
            <input type="hidden" th:field="*{id}"/>
            <div>
                <div class="col-sm-12">
                    <div class="form-group col-mb-3">
                        <h1 class="row"
                            id="name">
                                <span  class="inner title mt-3">
                                    <label class="labelTitle" th:text="${project.name}">
                                    </label>
                                <a class="btn btn-primary"
                                   th:text="#{button.edit}"
                                   th:href="@{edit/{id}(id=${project.id})}"
                                   th:if="${#authorization.expression('hasRole(''ROLE_MANAGE_PROJECTS'')')}"></a>
                                </span>
                        </h1>
                        <div class="form-group col-mb-3">
                            <label for="creator"
                                   th:text="#{project.creator}"
                                   style="float: left">
                            </label>
                            <p th:text="${': ' + project.creator.getFirstName() + ' ' + project.creator.getLastName()}"
                               id="creator">Creator</p>
                        </div>
                    </div>
                    <div class="form-group col-mb-3">
                        <div class="border"
                             id="description"
                             th:utext="${project.html}">Content
                        </div>
                    </div>
                </div>
                <div class="inner pull-right ml-3 mr-3">
                    <a th:href="@{/projects/delete/{id}(id=${project.id})}" class="btn btn-danger"
                       th:text="#{button.delete}"
                       th:if="${#authorization.expression('hasRole(''ROLE_MANAGE_PROJECTS'')')}"></a>
                    <a class="btn btn-secondary"
                       style="float: right"
                       th:href="@{/projects}"
                       th:text="#{button.back}"></a>
                </div>
            </div>

        </form>
    </div>
</div>
</body>
</html>