<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="https://github.com/ultraq/thymeleaf-layout-dialect">

<head th:replace="fragments/html_head :: head">
    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Task List</title>
</head>

<body>
    <div th:replace="fragments/header :: header"></div>

    <div class="container">
        <div layout:fragment="content">
            <h1>Static content for prototyping purposes only</h1>
            <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Praesent scelerisque neque neque, ac elementum quam dignissim interdum.
            Phasellus et placerat elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Praesent scelerisque neque neque, ac elementum quam dignissim interdum.
            Phasellus et placerat elit.
            </p>
        </div>

        <div th:replace="fragments/footer :: footer"></div>
    </div>
</body>
</html>