<!DOCTYPE html>
<html lang="en" layout:decorate="~{/layouts/layout}"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="https://github.com/ultraq/thymeleaf-layout-dialect">
<head>
    <meta charset="UTF-8">
    <title>Edit password</title>
</head>
<body>
<section class="container">
    <div layout:fragment="content">
        <h1 class="capitol" th:text="#{newPassword.title}">New Paswword</h1>
        <form action="#" th:action="@{/users/update/password/{id}(id=${passwordForm.id})}" th:object="${passwordForm}"
              method="post">
            <input type="hidden" th:field="*{id}"/>
            <div>
                <div class="mb-3">
                    <div>
                        <label for="password" class="col-form-label" th:text="#{newPassword.title}">New password</label>
                        <input type="password" th:field="*{password}" class="form-control" id="password"
                               placeholder="Password" th:placeholder="#{newPassword.title}">
                        <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
                              class="text-danger"></span>
                    </div>
                    <div>
                        <label for="repeatedPassword" class="col-form-label" th:text="#{addUser.passwordRepeat}">Repeat
                            password</label>
                        <input type="password" th:field="*{repeatedPassword}" class="form-control" id="repeatedPassword"
                               placeholder="Repeat password" th:placeholder="#{addUser.passwordRepeat}">
                        <span th:if="${#fields.hasErrors('repeatedPassword')}" th:errors="*{repeatedPassword}"
                              class="text-danger"></span>
                    </div>
                </div>
                <div class="inner pull-right mb-3">
                    <button type="submit"
                            class="btn btn-primary"
                            th:text="#{button.save}"></button>
                    <a class="btn btn-secondary"
                       th:href="@{/users/my_account}"
                       th:text="#{button.cancel}"></a>
                </div>

            </div>
        </form>
    </div>
</section>
</body>
</html>