<!DOCTYPE html>
<html lang="en" layout:decorate="~{/layouts/layout}"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="https://github.com/ultraq/thymeleaf-layout-dialect"
>
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<div class="container my-2">
    <div layout:fragment="content">
        <div class="card">
                <h2 class="md-6 " style="text-align:center" th:text="#{users.listTitle}">Users</h2>
                <div th:switch="${users}" class="container my-5">
                    <p class="my-5">
                        <a href="/users/create" class="btn btn-primary"><i
                                class="fas fa-user-plus ml-2" th:text="#{addUser.add}"> Add User</i></a>
                    </p>
                    <div class="col-md-12">
                        <h2 th:case="null">No Users yet!</h2>
                        <div th:case="*">
                            <table class="table table-striped table-responsive-md">
                                <thead>
                                <tr>
                                    <th th:text="#{addUser.lastName}">Last name</th>
                                    <th th:text="#{addUser.firstName}">First name</th>
                                    <th th:text="#{addUser.username}">Username</th>
                                    <th th:text="#{addUser.role}">Role</th>
                                    <th th:text="#{addUser.email}">Email</th>
                                    <th th:text="#{addUser.date}">Created date</th>
                                    <th th:text="#{addUser.edit}">Edit</th>
                                    <th th:text="#{addUser.delete}">Delete</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="user : ${users}" th:if="${user.enabled}">
                                    <td th:text="${user.lastName}"></td>
                                    <td th:text="${user.firstName}"></td>
                                    <td th:text="${user.username}"></td>
                                    <td th:text="${user.role}"></td>
                                    <td th:text="${user.authorities}"></td>
                                    <td th:text="${#dates.format(user.dateCreated, 'dd-MM-yyyy HH:mm')}"></td>
                                    <td><a th:href="@{/users/edit/{id}(id=${user.id})}" class="btn btn-primary"
                                           th:text="#{addUser.edit}"></a></td>
                                    <td><a th:href="@{/users/delete/{id}(id=${user.id})}" class="btn btn-danger delBtn"
                                           th:text="#{addUser.delete}"></a></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            <div class="myForm">
                <div class="modal" tabindex="-1" role="dialog" id="myModal">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" th:text="#{popup.delete.title}">Modal title</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p class="alert alert-danger" th:text="#{popup.delete.text}">Are you sure you want to delete this user?</p>
                            </div>
                            <div class="modal-footer">
                                <a href="" class="btn btn-danger" id="delRef" th:text="#{button.delete}">Delete</a>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal" th:text="#{button.cancel}">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>