<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>

</head>
<body>
<div th:fragment="footer">
    &copy; 2023 Bug tracker application - A.Szatkowska
</div>
<div style="text-align:center" th:fragment="footer-admin">
    <div sec:authorize="isAuthenticated()">
        Welcome <b><span sec:authentication="name">Username</span></b>
        &nbsp;
        <span sec:authentication="principal.authorities">Roles</span>
    </div>
</div>
</body>
</html>