<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<head>
    ...
    <title></title>

</head>
<body>
<header>
    <nav id="navbar" class="navbar navbar-expand-md navbar-dark">
        <a class="navbar-brand" href="#">BugTracker</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#" th:text="#{nav.home}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/projects" th:text="#{nav.projects}">Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/issues" th:text="#{nav.issues}">Ticket</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/users" th:text="#{nav.users}">Users</a>
                </li>
                <form id="logout" class="form-inline mt-2 mt-md-0" th:action="@{/logout}" method="post">
                    <button class="btn" type="submit" th:text="#{login.logout}">
                        Logout
                    </button>
                </form>
            </ul>

            <form class="form-inline mt-2 mt-md-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search"
                       th:placeholder="#{nav.search}">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit" th:text="#{nav.search}">Search
                </button>
            </form>
        </div>
    </nav>
</header>
</body>
</html>