.card-body{
    width: max-content;
}

.border{
    min-height: 300px;
}

.title{
    margin-left: 11px;
}

td > a{
    color: darkslategrey;
}

.labelTitle{
    font-size: 50px ;
}

.capitol{
    margin-top: 0.5rem;
    text-align: center;
}

#markdownInfo{
    text-align: center;
}

.pagin{
    margin: auto;
    width: fit-content;
    padding: 10px;
}

.btn-primary {
    background-color: darkslategrey !important;
    border: darkslategrey !important;
}

.btn-danger {
    background-color: #5B0B0B !important;
    border: #5B0B0B !important;
}

.page-link {
    background-color: darkslategrey !important;
    border: darkslategrey !important;
}

#issueFilterBottoms{
    float: right;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

#usersFilterBottoms{
    float: right;
    margin-bottom: 1rem;
    margin-top: 1rem;
}