.card-body{
    width: max-content;
}

.border{
    min-height: 300px;
}

.title{
    margin-left: 11px;
}

.labelTitle{
    font-size: 50px ;
}

.capitol{
    margin-top: 0.5rem;
    text-align: center;
}

#markdownInfo{
    text-align: center;
}