<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/layout}"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="https://github.com/ultraq/thymeleaf-layout-dialect">
<head>
  <meta charset="UTF-8">
  <title>Index</title>

<body>
<div layout:fragment="content">
  <div class="container mx-flex">
       <div class="col mt-5 mb-5">
         <p align="center">
           <img src="https://iili.io/HMLx6x9.jpg" alt="app logo with author name"/>
         </p>
       </div>
  </div>
</div>

</body>
</html>