<!DOCTYPE html>
<html lang="en" layout:decorate="~{/layouts/layout}"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="https://github.com/ultraq/thymeleaf-layout-dialect">

<head>
    <meta charset="UTF-8">
    <title>Add issue</title>
</head>

<body>
<div layout:fragment="content">

    <div class="container">
        <h1 class="capitol" th:if="${issue.id == null}" th:text="#{addIssue.title}">New Issue</h1>
        <h1 class="capitol" th:if="${issue.id != null}" th:text="#{issue.edit.title}">Update Issue</h1>

        <form th:action="@{/issues/save}" th:object="${issue}" method="post">
            <input type="hidden" th:field="*{id}"/>

            <div class="row">
                <div class="col-md-9 col-sm-12">
                    <div class="form-group col-mb-3">
                        <label for="name"
                               class="col-form-label"
                               th:text="#{addIssue.name}">Subject</label>
                        <input type="text"
                               th:field="*{name}"
                               class="form-control"
                               id="name"
                               placeholder="Subject"
                               th:placeholder="#{addIssue.name}">
                        <span th:if="${#fields.hasErrors('name')}"
                              th:errors="*{name}"
                              class="text-danger">
                        </span>
                    </div>
                    <div class="form-group col-mb-3">
                        <label for="description"
                               class="col-form-label"
                               th:text="#{addIssue.description}">Description</label>
                        <textarea type="text"
                                  rows="8"
                                  th:field="*{description}"
                                  class="form-control"
                                  id="description"
                                  placeholder="Description"
                                  th:placeholder="#{addIssue.description}">
                        </textarea>
                        <span th:if="${#fields.hasErrors('description')}"
                              th:errors="*{description}"
                              class="text-danger">
                        </span>
                    </div>
                </div>

                <div class="col-md-3 col-sm-12">
                    <div class="form-group col-mb-3">
                        <label for="type" th:text="#{addIssue.type}"></label>
                        <select class="form-control"
                                name="type" id="type"
                                th:field="*{type}">
                            <option th:value="${null}"
                                    th:text="#{type.placeholder}">
                            </option>
                            <option th:each="type : ${types}"
                                    th:value="${type}"
                                    th:text="${#messages.msg('type.' + type)}">Type
                            </option>
                        </select>
                    </div>
                    <div class="form-group col-mb-3">
                        <label for="priority"
                               th:text="#{addIssue.priority}">
                        </label>
                        <select class="form-control"
                                name="priority"
                                id="priority"
                                th:field="*{priority}">
                            <option th:value="${null}"
                                    th:text="#{priority.placeholder}">
                            </option>
                            <option th:each="priority : ${priorities}"
                                    th:value="${priority}"
                                    th:text="${#messages.msg('priority.' + priority)}">Priority
                            </option>
                        </select>
                    </div>
                    <div class="form-group col-mb-3">
                        <label for="status" th:text="#{addIssue.status}"></label>
                        <select class="form-control"
                                name="status"
                                id="status"
                                th:field="*{status}">
                            <option th:value="${null}"
                                    th:text="#{status.placeholder}">
                            </option>
                            <option th:each="status : ${statuses}"
                                    th:value="${status}"
                                    th:text="${#messages.msg('status.' + status)}">Status
                            </option>
                        </select>
                    </div>
                    <div class="form-group col-mb-3">
                        <label for="assignee" th:text="#{addIssue.assignee}"></label>
                        <select class="form-control"
                                name="assignee"
                                id="assignee"
                                th:field="*{assignee}">
                            <option th:value="${null}"
                                    th:text="#{person.placeholder}">
                            </option>
                            <option th:each="person : ${persons}"
                                    th:value="${person.id}"
                                    th:text="${person.getFirstName() + ' ' + person.getLastName()}">Assignee
                            </option>
                        </select>
                        <span th:if="${#fields.hasErrors('assignee')}"
                              th:errors="*{assignee}"
                              class="text-danger">
                        </span>
                    </div>
                    <div class="form-group col-mb-3">
                        <label for="project" th:text="#{addIssue.project}"></label>
                        <select class="form-control"
                                name="project"
                                id="project"
                                th:field="*{project}">
                            <option th:value="${null}"
                                    th:text="#{project.placeholder}">
                            </option>
                            <option th:each="project : ${projects}"
                                    th:value="${project.id}"
                                    th:text="${project.getName()}">Project
                            </option>
                        </select>
                        <small th:if="${#fields.hasErrors('project')}"
                               th:errors="*{project}"
                               class="text-danger"></small>
                    </div>
                </div>
            </div>

            <div class="inner pull-right">
                <button type="submit"
                        class="btn btn-primary"
                        th:text="#{button.save}"></button>
                <a class="btn btn-secondary"
                        th:href="@{/issues}"
                        th:text="#{button.cancel}"></a>
            </div>
        </form>
    </div>
</div>
</body>
</html>